.wrapper {
    height: 40px;
    background-color: white;
    padding: 5px;
}


.current{
    position: absolute;
    top: 18px;
    left: 18px;
    font-size: 12px;
    color: #80808096;
    font-family: monospace;
}

.state-wrapper{
    font-size: 16px;
    text-transform: uppercase;
    font-family: monospace;
    color: #a7a3a3;
    line-height: 42px;
    margin-left: 49px;
}