<div class="wrapper">
  <form class="form">
    <div class="form--row">
      <div class="form--section color1">
        <div class="form--group">
          <label for="text" class="form--label">Text1</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text1</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text1</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Delegates</label>
          <div class="tag-wrapper">
            <dx-tag-box [items]="simpleProducts" class="form--control tag" [searchEnabled]="true">
            </dx-tag-box>
          </div>
        </div>
      </div>
      <div class="form--section color2">
        <div class="form--group">
          <label for="text" class="form--label">Text2</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text2</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text2</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text2</label>
          <dx-date-box [value]="now" type="time" class="form--control"></dx-date-box>
        </div>
      </div>
      <div class="form--section color3">
        <div class="form--group">
          <label for="text" class="form--label">Text 3</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text 3</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text 3</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text 3</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
      </div>
      <div class="form--section color4">
        <div class="form--group">
          <label for="text" class="form--label">Text4</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text4</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text4</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text4</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
      </div>
    </div>
  </form>
</div>
<button (click)="toggleRow($event)">Toggle</button>
<button (click)="onVaildate()">Validate</button>
<div class="wrapper">
  <dx-tree-list id="employees" #tree [dataSource]="employees" itemsExpr="items" dataStructure="tree" [showRowLines]="true"
    [showBorders]="true" [columnAutoWidth]="true" [autoExpandAll]="true" (onSelectionChanged)="onSelectionChanged($event)">

    <dxo-scrolling mode="standard"></dxo-scrolling>
    <dxo-paging [enabled]="true" [pageSize]="10">
    </dxo-paging>

    <dxo-editing mode="cell" [allowAdding]="false" [allowUpdating]="true" [allowDeleting]="false">
    </dxo-editing>

    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
    </dxo-pager>
    <dxo-selection mode="multiple" allowSelectAll="true" [recursive]="false">
    </dxo-selection>
    <dxi-column dataField="Title" caption="Position"></dxi-column>
    <dxi-column dataField="Full_Name"></dxi-column>
    <dxi-column dataField="City"></dxi-column>
    <dxi-column dataType="boolean" dataField="Validate" caption="Validate" [allowEditing]="true">

    </dxi-column>
    <dxi-column dataField="State"></dxi-column>
    <dxi-column dataField="Mobile_Phone"></dxi-column>
    <dxi-column dataField="Hire_Date" dataType="date"></dxi-column>
  </dx-tree-list>
</div>