<div class="wrapper">
  <form class="form">
    <div class="form--row">
      <div class="form--section color1">
        <div class="form--group">
          <label for="text" class="form--label">Text1</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text1</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text1</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Delegates</label>
          <div class="tag-wrapper">
            <dx-tag-box [items]="simpleProducts" class="form--control tag" [searchEnabled]="true">
            </dx-tag-box>
          </div>
        </div>
      </div>
      <div class="form--section color2">
        <div class="form--group">
          <label for="text" class="form--label">Text2</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text2</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text2</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text2</label>
          <dx-date-box [value]="now" type="time" class="form--control"></dx-date-box>
        </div>
      </div>
      <div class="form--section color3">
        <div class="form--group">
          <label for="text" class="form--label">Text 3</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text 3</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text 3</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text 3</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
      </div>
      <div class="form--section color4">
        <div class="form--group">
          <label for="text" class="form--label">Text4</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text4</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text4</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
        <div class="form--group">
          <label for="text" class="form--label">Text4</label>
          <dx-text-box id="text" class="form--control" placeholder="Enter full name here..."></dx-text-box>
        </div>
      </div>
    </div>
  </form>
</div>